@import url(./reset.css);

/*--------HEADER-------*/
header{
    background-color: white;
    width: 100%;
    padding: 0 22px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

header>img{
    margin-left: 22px;
    margin-right: 22px;
}

/*--------NAV-------*/
nav{
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 40px;
}

nav>a{
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 10px;
}

/*--------MAIN-------*/
main{
    position: relative;
    background-color: #d6d6d6;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------PAGINA COMPLEMENTAR-------*/
.pagina-complementar{
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 275px;
    gap: 15px;
}

.pagina-complementar>p{
    font-size: 32px;
    font-weight: 400;
}

.pagina-complementar>h1{
    font-size: 60px;
    font-weight: 800;
    width: 600px;
    height: 100px;
    text-align: center;
}

.btn-wrapper{
    display: flex;
    gap: 30px;
}

.btn-wrapper>button{
    border: none;
    border-radius: 50px;
    background-color: black;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/*--------OFERTAS-------*/
#ofertas{
    background-color: #d6d6d6;
    border: 1px solid black;
    width: 100%;
    height: 450px;
}

#ofertas>h2{
    font-size: 42px;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.produtos-imagens{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.produtos-imagens>img{
    width: 250px;
    height: 300px;
}

.btn-produtos{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    gap: 335px;
}

.btn-produtos>button{
    border: none;
    border-radius: 50px;
    background-color: black;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}

/*--------FOOTER-------*/
footer{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 250px;
    display: flex;
}